<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>
<div>
  <% if @error %>
    <%= content_tag :p, @error %>
  <% elsif @repositories %>
    <ul>
      <% @repositories.each do |repo| %>
        <li>
            <%= content_tag :h3, repo[:name] %>
            <%= content_tag :p, repo[:owner] %>
            <%= content_tag :p, repo[:description] %>
            <p>Link: <%= link_to repo[:url], repo[:url] %></p>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
