<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<%# @resp.body if @resp %>

<% if @repos %>
  <ul>
    <% @repos.each do |repo| %>
      <li>
        <b><%= repo["name"] %></b> – <%= repo["description"] %><br>
        <%= link_to repo["html_url"], repo["html_url"] %>
        <br>
      </li>
    <% end %>
  </ul>
<% end %>