<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<% @body["items"].each do |item| %>
  <p>
    <%= item["name"] + "," + item["full_name"] %>
    <br></br>
    <%= item["description"] %>
    <br></br>
    <a href='<%= "#{item["html_url"]}"%>'><%=item["html_url"]%></a>
  </p>
<% end %>
